.defaultItem{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(244, 244, 244);
    margin:10px auto;
    overflow: hidden;
    background-color: antiquewhite;
}

.defaultItem .checkBox{
    margin: 15px;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px;
}

.delete{
    margin: 18px;
    float: right;
    font-size: 12px;
    font-weight: bolder;
    color: lightcoral;
    
}
.defaultItem p{
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    display: inline;

}


.doneItem{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(244, 244, 244);
    margin:10px auto;
    overflow: hidden;
    background-color: rgb(215, 215, 215);
}

.doneItem .checkBox{
    margin: 15px;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px;
    background-color: rgb(167, 165, 165);
}

.doneItem p{
    text-decoration-line: line-through;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    display: inline;
    
}

.doneItem .delete{
    color:grey;
}

.open{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(244, 244, 244);
    margin:10px auto;
    overflow: hidden;
}

.open .doneItem{
    background-color: rgb(215, 215, 215);
}